.hero {
  position: absolute;
  z-index: 2;
}

.hero__title {
  width: 218px;
  margin-bottom: 20px;
  font-family: "Titan One", cursive;

  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    width: 277px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title-second {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.9;
  }
}
.hero__button-list {
  display: flex;
}

.hero__button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 20px;
  background-color: #ffffff;
  text-decoration: none;

  padding-left: 14px;
  padding-right: 14px;
  color: #d41443;
  font-size: 8px;
  line-height: 1.25;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__button-link--accent {
  background-color: #d41443;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero__button-item:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: 1280px) {
    margin-right: 12px;
  }
}
