.menu {
  display: flex;
  margin-left: auto;
}

.menu-open {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;

  background-color: transparent;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu-close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    right: 32px;
  }
}

.menu__btn-buynow {
  display: none;

  margin-left: 32px;
  border-radius: 22px;
  width: 160px;
  height: 44px;
  border: none;
  background-color: #ffffff;
  color: #d41443;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
  }

  &::after {
    content: "";
    display: block;
    background-image: url(/img/vector-tablet.svg);
    width: 6px;
    height: 10px;
    margin-left: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  margin-bottom: 19px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 186px;
    margin-bottom: 20px;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 250px;
  height: 100vh;

  padding-top: 60px;
  padding-bottom: 171px;
  background-color: #e17992;
  transform: translateX(254px);

  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  @media screen and (min-width: 768px) {
    width: 254px;
  }
}

.menu__container.is-hidden {
  display: block;
  transform: translateX(0);
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 11px;
}

.menu-nav__link {
  display: inline-flex;
  align-items: center;
  height: 42px;
  width: 100%;
  text-decoration: none;

  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  text-indent: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.89x;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #d41443;
  }
}
